body {
  background-color: rgb(26, 26, 26);
  color: white;
  font-family: Arial;
}

.rock-head {
  font-size: 30px;
  font-weight: bold;
}

.move-icon { 
  width: 50px;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  width: 120px;
  height: 120px;
  border-radius: 70px;
  margin-right: 10px;
  cursor: pointer;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score {
  margin-top: 60px;
}

.reset-button {
  padding: 8px 15px;
  font-size: 15px;
  background-color: white;
  border: none;
  cursor: pointer;
}